/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilo general */
body {
	font-family: "totalblack-variable", Arial, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: #161625;
	align-items: center;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 20px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 0;
}

#current {
	height: 50vh;
	display: flex;
}

#current-weather,
#details {
	display: flex;
	flex-direction: column;
	width: fit-content;
	border-radius: 2rem;
	padding: 1.5rem;
}

#current {
	margin: 1rem auto;
	width: fit-content;
	display: grid;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	align-items: end;
}

#current > div:nth-child(1) {
	grid-area: 1 / 1 / 2 / 2;
}
#current > div:nth-child(2) {
	grid-area: 1 / 2 / 3 / 3;
}
#current > div:nth-child(3) {
	grid-area: 2 / 1 / 3 / 2;
}

#current > div {
	width: fit-content;
}

div.double-column {
	display: grid;
	grid-template: 1fr / 1fr 1fr;
}

/* #current-weather-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
} */

#current-weather-icon img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

#current-temperature {
	font-size: clamp(1rem, 5vw, 5rem);
	white-space: nowrap;
	text-align: center;
}

#location {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0.5rem;
	grid-row-gap: 0px;
	align-items: center;
}

.city {
	grid-area: 1 / 1 / 2 / 3;
	font-size: clamp(2rem, 5vw, 3rem);
	white-space: nowrap;
	text-align: center;
}
.region {
	grid-area: 2 / 1 / 3 / 2;
	font-size: 1rem;
}
.country {
	grid-area: 2 / 2 / 3 / 3;
	font-size: 1rem;
	text-align: right;
}

#description {
	text-align: center;
}

.viento::after {
	display: inline-block;
	content: " km\A/h";
	white-space: pre-wrap;
	vertical-align: middle;
	font-size: 0.5rem;
	line-height: 0.5rem;
	text-align: right;
}
#current-time {
	display: none;
}
.humedad::after {
	content: "%";
}

#max-temperature::before {
	content: "🔺";
}

#min-temperature::before {
	content: "🔻";
}

._hora::after {
	content: "\AHRS";
	white-space: pre-wrap;
}

._hora::before {
	content: "🕙️\A";
	white-space: pre-wrap;
}

._temperatura::before {
	content: "🌡️";
}

.temperatura::after {
	content: "ºC";
}

.humedad::before {
	content: "💧";
}

#forecast {
	display: flex;
	justify-content: center;
	gap: 1rem;
	font-size: 1.25rem;
	flex-wrap: wrap;
	margin: 20px auto;
}

#forecast > div {
	border-radius: 5rem;
	padding: 2rem 0.5rem;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	text-align: center;
	gap: 0.5rem;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #161625;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

#credits {
	font-size: 0.75rem;
}

#credits a {
	color: white;
	text-decoration: none;
}

#credits a:hover {
	text-decoration: underline;
}

#credits img {
	max-height: 2em;
	vertical-align: middle;
}

.dia {
	background-color: #b6e7ee;
	color: #333;
}

.noche {
	background-color: #1a1a2e;
}

.dia #current-weather,
.dia #details {
	background-color: #ffffff55;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.333);
}

.noche #current-weather,
.noche #details {
	background-color: #00000055;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.dia #forecast > div {
	background: linear-gradient(145deg, #fffdc8, #acc1d5);
	color: #20263d;
}

.noche #forecast > div {
	background: linear-gradient(145deg, #3b3b7a, #1c1c3d);
	color: white;
}

/* Media Query para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
}

/* Media Query para smartphones pequeños */
@media (max-width: 480px) {
	#location {
		margin: 0;
	}

	#forecast {
		flex-flow: column;
		margin: 1rem;
	}

	#forecast > div {
		padding: 0.5rem;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	#current {
		display: flex;
		flex-direction: column;
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	#current-temperature {
		font-size: clamp(1rem, 20vw, 5rem);
	}
}
