/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilo general */
body {
	font-family: Arial, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

#app {
	display: grid;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: #161625;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 20px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

main {
	text-align: center;
	padding: 20px;
}

#current {
	margin-bottom: 20px;
}

#location {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: fit-content;
	margin: 0 auto 2rem auto;
	border-radius: 2rem;
	padding: 1.5rem;
}

#current h1 {
	font-size: 2.5rem;
	margin: 0;
}

#current h2,
#current h3 {
	font-size: 1.2rem;
	margin: 5px 0;
}

#current-weather {
	margin: 1rem auto;
	justify-items: center;
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#current-weather > div:nth-child(1) {
	grid-area: 1 / 1 / 6 / 2;
}
#current-weather > div:nth-child(2) {
	grid-area: 1 / 2 / 6 / 3;
}
#current-weather > div:nth-child(3) {
	grid-area: 1 / 3 / 2 / 4;
}
#current-weather > div:nth-child(4) {
	grid-area: 2 / 3 / 3 / 4;
}
#current-weather > div:nth-child(5) {
	grid-area: 3 / 3 / 4 / 4;
}
#current-weather > div:nth-child(6) {
	grid-area: 4 / 3 / 5 / 4;
}
#current-weather > div:nth-child(7) {
	grid-area: 5 / 3 / 6 / 4;
}

#current-weather > div {
	width: fit-content;
}

div.double-column {
	display: grid;
	grid-template: 1fr / 1fr 1fr;
}

#current-weather-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#current-weather-icon img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

.viento::after {
	display: inline-block;
	content: " km\A/h";
	white-space: pre-wrap;
	vertical-align: middle;
	font-size: 0.5rem;
	line-height: 0.5rem;
	text-align: right;
}

.humedad::after {
	content: "%";
}

#max-temperature::before {
	content: "🔺";
}

#min-temperature::before {
	content: "🔻";
}

.hora::after {
	content: "\AHRS";
	white-space: pre-wrap;
}

.hora::before {
	content: "🕙️\A";
	white-space: pre-wrap;
}

.temperatura::before {
	content: "🌡️";
}

.temperatura::after {
	content: "ºC";
}

.humedad::before {
	content: "💧";
}

#forecast {
	display: flex;
	justify-content: center;
	gap: 1rem;
	font-size: 1.25rem;
	flex-wrap: wrap;
	margin: 20px auto;
}

#forecast > div {
	border-radius: 5rem;
	padding: 2rem 0.5rem;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	text-align: center;
	gap: 0.5rem;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #161625;
}

#credits {
	font-size: 0.75rem;
}

#credits a {
	color: white;
	text-decoration: none;
}

#credits a:hover {
	text-decoration: underline;
}

#credits img {
	max-height: 2em;
	vertical-align: middle;
}

.dia {
	background-color: #b6e7ee;
	color: #333;
}

.noche {
	background-color: #1a1a2e;
}

.dia #location {
	background-color: #ffffff55;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.333);
}

.noche #location {
	background-color: #00000055;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.dia #forecast > div {
	background: linear-gradient(145deg, #fffdc8, #acc1d5);
	color: #20263d;
}

.noche #forecast > div {
	background: linear-gradient(145deg, #3b3b7a, #1c1c3d);
	color: white;
}
