/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variables */
:root {
	--color-cuadros: rgba(0, 0, 0, 0.5);
}
/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	color: #333;
}

/* Estilos para el header */
header {
	color: #fff;
	padding: 20px;
	align-content: center;
	align-items: center;
	justify-content: center;
}

header > section {
	width: fit-content;
	background-color: var(--color-cuadros);
	border-radius: 1rem;
	padding: 0.5rem;
	margin: auto;
}

#titleArticle {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}

#mainArticle {
	isplay: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
}

#location {
	font-size: 2rem;
	margin-right: 10px;
}

#temperature {
	font-size: 2rem;
}

#spoiler {
	font-size: 1.5rem;
	padding: 1rem;
}

#mainFooter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#mainFooter div {
	text-align: center;
	padding: 10px 0;
}

#maxTemp,
#minTemp,
#viento,
#humedad {
	flex: 1 1 calc(50% - 10px); /* Ocupa el 50% menos el gap */
}

#maxTemp::after,
#minTemp::after {
	content: "°C";
}

#viento::after {
	display: inline-block;
	content: " km\A/h";
	white-space: pre-wrap;
	vertical-align: middle;
	font-size: 0.5rem;
	line-height: 0.5rem;
	text-align: right;
}

#humedad::after {
	content: " %";
}

#maxTemp::before {
	content: "🔺 ";
}

#minTemp::before {
	content: "🔻 ";
}

#viento::before {
	content: "🌬️ ";
}
#humedad::before {
	content: "💦  ";
}

#horaUno::before {
	content: "Hora actual: ";
}

#horaUno {
	padding: 1rem;
}

/* Estilos para el main */
#mainLine > div {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	grid-area: "hora";
	width: 100%;
	justify-content: center;
}

.timeLine {
	padding: 1rem 0 0 0;
	color: #fff;
}

.timeLine > div {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--color-cuadros);
}

.timeLine > div > section {
}

/* Estilos para el footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	background-color: #0077cc;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}
