body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #e0f7fa;
	overflow: hidden;
}

#game-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e0f7fa;
}

canvas {
	/*width: 100%;*/
	border-bottom: 2px solid #1f5826;
	display: block;
	background: rgb(151, 130, 121);
	background: linear-gradient(
		0deg,
		rgba(151, 130, 121, 0.5) 0%,
		rgba(196, 162, 51, 0.5) 10%,
		rgba(111, 162, 113, 1) 15%,
		rgba(95, 200, 10, 0.45) 45%,
		rgba(0, 212, 255, 0) 100%
	);
}

#score {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 24px;
	color: #004d40;
}
